# Credentials
.env
price-key.json
config/gcp-key.json
*.json
!config/airflow_variables.json

# Python
__pycache__/
*.pyc
.venv/

# Airflow runtime files
logs/
airflow.db
airflow.cfg
webserver_config.py

# OS
.DS_Store
Thumbs.db